<p>
    Feature Date: {DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_TEMPLATE_DATE}
</p>
<p>
    {DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_TEMPLATE_DESCRIPTION}
</p>
<h1
    id="Feature{DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_NAME}ChangeLog-Majornewfeaturesofthe{DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_TEMPLATE_VERSION}">Major
    new features of the {DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_TEMPLATE_VERSION}</h1>

<p>Among the new features in DCM Customer Portal are:</p>

<ul class="simple" style="margin-left: 1.5em;">
    <li>{DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_TEMPLATE_JIRA_ID}, {DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_TEMPLATE_JIRA_MESSAGE}</li>
</ul>
<h1 id="Feature{DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_NAME}ChangeLog-Moreresources">More
    resources</h1>
<ul class="simple" style="margin-left: 1.5em;">
    <li><a href="/wiki/display/DCMCustomerPortalTeam/Documentation">Online
            Documentation</a></li>
    <li><a class="external-link" href="https://www.python.org/dev/peps/pep-0494/" rel="nofollow">{DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_TEMPLATE_NEXT_VERSION} Release
            Schedule</a></li>
    <li>Report bugs at <a class="external-link" href=
        "https://www.python.org/dev/peps/pep-0494/" rel="nofollow">{DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_TEMPLATE_JIRA_LINK} </a>.
    </li>
</ul>
<h1 class="page-title"
    id="Feature{DEVOPS_CI_SAAS_CONFLUENCE_FEATURE_NAME}ChangeLog-Files">Files</h1>
<div class="table-wrap">
    <table class="wrappedconfluenceTable">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th class="confluenceTh">Version</th>
                <th class="confluenceTh">Operating System</th>
                <th class="confluenceTh">Description</th>
                <th class="confluenceTh">MD5 Sum</th>
                <th class="confluenceTh">File Size</th>
                <th class="confluenceTh">GPG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="confluenceTd">
                    <br />
                </td>
                <td class="confluenceTd">
                    <br />
                </td>
                <td class="confluenceTd">
                    <br />
                </td>
                <td class="confluenceTd">
                    <br />
                </td>
                <td class="confluenceTd">
                    <br />
                </td>
                <td class="confluenceTd">
                    <br />
                </td>
            </tr>
            <tr>
                <td class="confluenceTd">
                    <a
                        href="https://www.python.org/ftp/python/3.6.1/python-3.6.1-webinstall.exe"
                        class="external-link" rel="nofollow">Windows x86
                        web-based installer</a>
                </td>
                <td class="confluenceTd">Windows</td>
                <td class="confluenceTd">
                    <br />
                </td>
                <td class="confluenceTd">f58f019335f39e0b45a0ae68027888d7</td>
                <td class="confluenceTd">
                    <br />
                </td>
                <td class="confluenceTd">
                    <br />
                </td>
            </tr>
        </tbody>
    </table>
</div>