<p>Development change logs from approved pull request from feature branches
    to the development branch.</p>
<ul>
    <li><h3 id=\"DevelopmentChangeLogs-FeatureChangelog\">
            <strong>Feature Change log</strong>
        </h3>
        <p>Pull request from {feature_branch} to develop.</p>
        <p>Date: {Date}, Created by: {AuthorID}, Accepted
            by: {AcceptedAuthorID}</p></li>
</ul>
<p>
    <br />
</p>